fastapi==0.135.1
uvicorn[standard]==0.38.0
mlflow==2.22.1
tensorflow==2.18.0
pytest==8.3.3
pytest-asyncio==0.24.0
pycodestyle==2.12.1
black==24.8.0
locust==2.32.0
pydantic==2.10.0
python-multipart==0.0.20
requests==2.32.3